.link {
    font-family: 'Netflix';
    color: #E50D13 !important;
    text-decoration: none;
}

.about {
    color : white;
    text-decoration: none;
    padding:10px;
    background : transparent;
    border:1px solid white;
    transition: 0.4s;
}

.about:hover {
    color: #000000 !important;
    background-color: white;
}

@media only screen 
    and (min-width : 200px)
    and (max-width : 568px) 
    and (orientation : portrait){
        
    .link {
        font-weight: bold;
    }

}